.App {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.SideBar {
  background-color: rgb(43, 47, 42);
  width: 8%;
  flex-grow: .07;
  display: flex;
  flex-direction: column;
}

.MainCompleteBody {
  flex-grow: 1.3;
  display: flex;
  flex-direction: column;
}

.SideBarHeader {
color: white;
font-size: 32px;
flex-grow: 1;
text-align: center;
padding-top: 10px;
font-weight: 400;
}

.SideBarSync {
  padding-left: 18px;
  padding-bottom: 20px;
}

.SideBarSettings {
  padding-left: 18px;

  padding-bottom: 20px;
}

.MainHeader {
  display: flex;
  flex-direction: row;
  height: 3.5%;
  background-color: white;
}

.Header {
  background-color: rgb(173, 82, 49);
  text-decoration: underline;
  color: white;
  border-bottom-right-radius: 10px;
  text-align: center;
  padding-top: 10px;
  width:22%;
  font-size: 24px;
}

.MainBodyContainer {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 90%;
  justify-content: center;
  overflow-y: scroll;
}

.NotFound {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgba(235, 92, 15, 0.988);
  border-radius: 5px;
  margin: 50px;
  height: 50%;
  align-items: center;
  box-shadow: 3px 3px rgb(107, 104, 103);
}
.NotFoundText {
  font-size: 32px;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  margin: 4px;
}
.FirstSync {
  background-color: rgba(235, 92, 15, 0.988);
  border-style: none;
  flex-grow: 3;
  align-items: flex-start;
}

.HeaderBook {
  font-size: 32px;
}
