.BookContent {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 118, 55, 0.99);
}

.BookAuthor {
    background: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    font-size: 26px;
    font-weight: 300;
}

.BooksList {
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
}
