.BookContent {
    height: 40%;
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 92, 15, 0.988);
}

.BookAuthor {
    background: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 50px;
    font-size: 26px;
    font-weight: 300;
}

.BooksList {
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    overflow-y: scroll;
}
